@model RateYourShowMVC.Models.Series

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int cont = 0;
}

<div class="header-spacer"></div>

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header">
                    @foreach (var mid in Model.Midia.Where(m => m.TipoMidiaId == 3))
                    {

                        <div class="top-header-thumb">
                            <img src="~/Uploads/@mid.Link" alt="nature">
                        </div>
                    }
                    <div class="profile-section">
                        <div class="control-block-button">

                            <a href="#" class="btn btn-control bg-purple">
                                <svg class="olymp-chat---messages-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                            </a>

                            <div class="btn btn-control bg-blue  more">
                                <svg class="olymp-settings-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Marcar episodios</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn btn-control bg-primary more">
                                <svg class="olymp-settings-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>


                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#update-header-photo">Reportar Erro</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="top-header-author">
                        <a href="02-ProfilePage.html" class="author-thumb">
                            @foreach (var mid in Model.Midia.Where(m => m.TipoMidiaId == 4))
                            {
                                <img src="~/Uploads/@mid.Link" style="height:125px;width:125px" alt="author">
                            }
                        </a>
                        <div class="author-content">
                            <h4 class="author-name">@Model.Nome</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ficha tecnica-->
<div class="container">
    <div class="row">
        <!-- Sinopse-->
        <div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Sinopse</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
                <div class="ui-block-content">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                            <p>
                                @Model.Descricao
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- fim Sinopse-->
        <!-- Ficha tecnica-->
        <div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Ficha Técnica</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
                <div class="ui-block-content">
                    <ul class="widget w-personal-info">
                        <li>
                            <span class="title">Titulo</span>
                            <span class="text">
                                @Model.Nome
                            </span>
                        </li>
                        <li>
                            <span class="title">Origem</span>
                            <span class="text">@Model.Paisdeorigem</span>
                        </li>
                        <li>
                            <span class="title">Gênero</span>
                            <span class="text">
                                @foreach (var sg in Model.SerieGenero)
                                {
                                    if (cont >= 1)
                                    {
                                        <label>,</label>
                                    }
                                    @sg.Genero.Descricao

                                    cont++;
                                }
                            </span>
                        </li>
                        <li>
                            <span class="title">Temporadas</span>
                            <span class="text">11</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- fim Ficha tecnica-->
    </div>
</div>







<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h6 title">Elenco de @Model.Nome</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="photo-album-wrapper">
        @foreach (var atr in Model.SerieEquipe.Where(se => se.EquipeTipoId == 1))
        {
            <div class="photo-album-item-wrap col-4-width">



                <div class="photo-album-item" data-mh="album-item">
                    <div class="photo-item">
                        @foreach (var mid in atr.Equipe.Midia.Where(m => m.TipoMidiaId == 2))
                        {
                            <img src="~/Uploads/@mid.Link" style="width:332px;height:284px" alt="photo">
                        }
                    </div>

                    <div class="content">
                        @Html.ActionLink(atr.Equipe.Nome, "Personagem", new { id = atr.Equipe.EquipeId }, htmlAttributes: new { @class = "h5" })
                        <span class="sub-title">@atr.Personagem</span>
                    </div>

                </div>
            </div>
        }

    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex">
                <div class="ui-block-title">
                    <div class="h6 title">Diretores e Produtores de @Model.Nome</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="photo-album-wrapper">
        @foreach (var atr in Model.SerieEquipe.Where(se => se.EquipeTipoId == 2))
        {
            <div class="photo-album-item-wrap col-4-width">


                <div class="photo-album-item" data-mh="album-item">
                    <div class="photo-item">
                        @foreach (var mid in atr.Equipe.Midia.Where(m => m.TipoMidiaId == 2))
                        {
                            <img src="~/Uploads/@mid.Link" style="width:332px;height:284px" alt="photo">
                        }
                    </div>

                    <div class="content">
                        @Html.ActionLink(atr.Equipe.Nome, "Personagem", new { id = atr.Equipe.EquipeId }, htmlAttributes: new { @class = "h5" })
                        <span class="sub-title">@atr.EquipeTipo.Descricao</span>
                    </div>

                </div>
            </div>
        }
    </div>
</div>