@using RateYourShowMVC.Models;
@model IEnumerable<RateYourShowMVC.Models.Publicacao>

@{
    ViewBag.Title = "Dashboard";
    Layout = Layout;
    IEnumerable<RateYourShowMVC.Models.Series> series = ViewBag.Series;
    IEnumerable<RateYourShowMVC.Models.Amizade> amizades = ViewBag.Amizades;
    IEnumerable<RateYourShowMVC.Models.Usuario> usuarios = ViewBag.Pessoa;
    IEnumerable<RateYourShowMVC.Models.Comentario> comentarios = ViewBag.Comentario;
    IEnumerable<RateYourShowMVC.Models.Midia> midia = ViewBag.Midia;
    int cont = 1;
    Boolean existe = false;
}
<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>


<div class="container">
    <div class="row">


        <!-- Main Content -->

        <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <!-- News Feed Form  -->

                <div class="news-feed-form">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

                                <svg class="olymp-status-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>

                                <span>Postagem</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                            @using (Html.BeginForm("Index", "LandingPage", FormMethod.Post, htmlAttributes: new { }))
                            {
                                <div class="author-thumb">
                                    <img src="~/Uploads/@ViewBag.Imagem" style="width:36px;height:36px;">
                                </div>
                                <div class="form-group with-icon label-floating is-empty">
                                    <textarea class="form-control" id="texto" name="texto" placeholder=""></textarea>
                                </div>
                                <div class="add-options-message">
                                    <button class="btn btn-primary btn-md-2" type="submit">Realizar Postagem</button>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                            }
                        </div>

                        <div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
                            <form>
                                <div class="author-thumb">
                                    <img src="~/Uploads/@ViewBag.Imagem" style="width:36px;height:36px;">
                                </div>
                                <div class="form-group with-icon label-floating is-empty">
                                    <label class="control-label">Share what you are thinking here...</label>
                                    <textarea class="form-control" placeholder=""></textarea>
                                </div>
                                <div class="add-options-message">
                                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                                        <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
                                    </a>
                                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                                        <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                                    </a>

                                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                                        <svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
                                    </a>

                                    <button class="btn btn-primary btn-md-2">Post Status</button>
                                    <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                                </div>

                            </form>
                        </div>



                        <div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
                            <form>
                                <div class="author-thumb">
                                    <img src="~/Uploads/@ViewBag.Imagem" style="width:36px;height:36px;">
                                </div>
                                <div class="form-group with-icon label-floating is-empty">
                                    <label class="control-label">Share what you are thinking here...</label>
                                    <textarea class="form-control" placeholder=""></textarea>
                                </div>
                                <div class="add-options-message">
                                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD PHOTOS">
                                        <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
                                    </a>
                                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="TAG YOUR FRIENDS">
                                        <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                                    </a>

                                    <a href="#" class="options-message" data-toggle="tooltip" data-placement="top" data-original-title="ADD LOCATION">
                                        <svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
                                    </a>

                                    <button class="btn btn-primary btn-md-2">Post Status</button>
                                    <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- ... end News Feed Form  -->
            </div>





            <!-- Post -->

            @foreach (var post in Model.Where(p => p.Usuario.Bloqueado != Bloqueado.Sim && p.Usuario.Inativo != Inativo.Sim).OrderByDescending(p => p.Data))
            {
                existe = false;
                if (post.UsuarioId == ViewBag.Usuario.UsuarioId)
                {
                    existe = true;
                }

                foreach (var amz in amizades.Where(a => a.UsuarioId1 == ViewBag.Usuario.UsuarioId && a.Status == Status.Aceito || a.UsuarioId2 == ViewBag.Usuario.UsuarioId && a.Status == Status.Aceito))
                {
                    existe = true;
                }

                if (!existe)
                {
                    continue;
                }

                <div id="newsfeed-items-grid">
                    <div class="ui-block">


                        <article class="hentry post">

                            <div class="post__author author vcard inline-items">
                                @foreach (var mid in post.Usuario.Midia.Where(m => m.TipoMidiaId == 5))
                                {
                                    <img src="~/Uploads/@mid.Link" alt="author">
                                }

                                <div class="author-date">
                                    @Html.ActionLink(post.Usuario.Nome, "PerfilAmigo", "Series", new { id = post.Usuario.UsuarioId }, htmlAttributes: new { @class = "h6 post__author-name fn" })
                                    <div class="post__date">
                                        <time class="published" datetime="2004-07-24T18:18">
                                            @post.Data
                                        </time>
                                    </div>
                                </div>
                                <div class="more">
                                    <svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    <ul class="more-dropdown">
                                        @if (ViewBag.Usuario.UsuarioId == post.UsuarioId)
                                        {
                                            <li>
                                                <a data-toggle="modal" id="@post.PublicacaoId" onclick="ShowId('PublicacaoId1',this.id), CarregaTexto('Descricao','@post.Descricao')" data-target="#editar-post" href="#">Editar Post</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a data-toggle="modal" id="@post.PublicacaoId" onclick="ShowId('PublicacaoId2',this.id)" data-target="#denunciar-post" href="#">Denunciar Post</a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                            </div>

                            <p>
                                @post.Descricao
                            </p>


                        </article>
                        @using (Html.BeginForm("Index", "LandingPage", FormMethod.Post, htmlAttributes: new { @class = "comment-form inline-items" }))
                        {

                            <div class="post__author author vcard inline-items">
                                <img src="~/Uploads/@ViewBag.Imagem" alt="author">
                                <input value="@post.PublicacaoId" id="PublicacaoId" name="PublicacaoId" hidden />
                                <div class="form-group with-icon-right ">
                                    <textarea class="form-control" id="Texto" name="Texto"></textarea>
                                    <div class="add-options-message">
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-md-2 btn-primary" id="botao" name="botao" value="Comentar" type="submit">Comentar</button>

                            <button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancelar</button>

                        }
                        <!-- Comments -->
                        <hr />
                        <ul class="comments-list">
                            @foreach (var com in comentarios.Where(c => c.PublicacaoId == post.PublicacaoId))
                            {
                                <li class="comment-item">
                                    <div class="post__author author vcard inline-items">
                                        @foreach (var mid in midia.Where(m => m.UsuarioId == com.UsuarioId && m.TipoMidiaId == 5))
                                        {
                                            <img src="~/Uploads/@mid.Link" alt="author">
                                        }
                                        <div class="author-date">
                                            <a class="h6 post__author-name fn" href="02-ProfilePage.html">@com.Usuario.Nome</a>
                                            <div class="post__date">
                                                <time class="published" datetime="2004-07-24T18:18">
                                                    @com.Datadepublicacao
                                                </time>
                                            </div>
                                        </div>
                                    </div>

                                    <p>@com.Texto</p>
                                </li>
                            }
                        </ul>

                        <!-- ... end Comments -->
                    </div>
                </div>
            }
            @foreach (var post in Model.Where(p => p.UsuarioId == 4).OrderByDescending(p => p.Data))
            {
                <div id="newsfeed-items-grid">
                    <div class="ui-block">
                        <article class="hentry post video">
                            <div class="post__author author vcard inline-items">
                                @foreach (var mid in post.Usuario.Midia.Where(m => m.TipoMidiaId == 5))
                                {
                                    <img src="~/Uploads/@mid.Link" alt="author">
                                }
                                <div class="author-date">
                                    <a class="h6 post__author-name fn" href="#">@post.Usuario.Nome</a>
                                </div>
                            </div>
                            <p>@post.Descricao</p>
                        </article>
                    </div>
                </div>
            }
            <!-- End Post -->

            <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

        </main>

        <!-- ... end Main Content -->
        <!-- Left Sidebar -->

        <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">

            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Séries Recentes</h6>
                </div>

                <!-- W-Friend-Pages-Added -->
                <ul class="widget w-friend-pages-added notification-list friend-requests">
                    @foreach (var ser in series.OrderByDescending(m => m.SeriesId))
                    {
                        cont++;
                        <li class="inline-items">
                            <div class="author-thumb">
                                @foreach (var mid in ser.Midia.Where(m => m.TipoMidiaId == 1))
                                {
                                    <img src="~/Uploads/@mid.Link" style="height:36px;width:36px" stalt="photo">
                                }
                            </div>
                            <div class="notification-event">
                                @Html.ActionLink(ser.Nome, "Perfil", "Series", new { id = ser.SeriesId }, htmlAttributes: new { @class = "h6" })
                            </div>
                        </li>
                        if (cont > 5)
                        {
                            cont = 1;
                            break;
                        }
                    }

                </ul>
                <!-- .. end W-Friend-Pages-Added -->
            </div>
        </aside>

        <!-- ... end Left Sidebar -->
        <!-- Right Sidebar -->

        <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">



            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Sugestão de amigos</h6>
                </div>



                <!-- W-Action -->

                <ul class="widget w-friend-pages-added notification-list friend-requests">

                    @foreach (var pes in usuarios.Where(u => u.UsuarioId != 4 && u.Bloqueado != Bloqueado.Sim && u.UsuarioId != ViewBag.Usuario.UsuarioId))
                    {
                        foreach (var amz in amizades.Where(a => a.UsuarioId1 == ViewBag.Usuario.UsuarioId && a.Status == Status.Aceito || a.UsuarioId2 == ViewBag.Usuario.UsuarioId))
                        {
                            if (pes.UsuarioId == amz.UsuarioId1 || pes.UsuarioId == amz.UsuarioId2)
                            {
                                existe = true;
                            }
                        }

                        if (existe)
                        {
                            existe = false;
                            continue;
                        }

                        cont++;
                        <li class="inline-items">
                            <div class="author-thumb">
                                @foreach (var mid in pes.Midia.Where(m => m.TipoMidiaId == 5))
                                {
                                    <img src="~/Uploads/@mid.Link" style="height:36px;width:36px" stalt="photo">
                                }
                            </div>
                            <div class="notification-event">
                                @Html.ActionLink(pes.Nome, "PerfilAmigo", "Series", new { id = pes.UsuarioId }, htmlAttributes: new { @class = "h6" })
                            </div>
                        </li>
                        if (cont > 5)
                        {
                            break;
                        }
                    }

                </ul>

                <!-- ... end W-Action -->
            </div>

            <div class="ui-block">

                <div class="ui-block-title">
                    <h6 class="title">Atividade de amigos</h6>
                </div>

                <ul class="widget w-friend-pages-added notification-list friend-requests"></ul>

            </div>
        </aside>

        <!-- ... end Right Sidebar -->

    </div>
</div>


<!-- Window-popup Update Header Photo -->
<!-- desativarConta Popup -->

<div class="modal fade" id="editar-post" tabindex="-1" role="dialog" aria-labelledby="editar-post" aria-hidden="true">
    <div class="modal-dialog window-popup batata" role="document">
        <div class="modal-content" style="margin-left:25%; margin-right:25%; margin-top:5%;">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="modal-header">
                <h6 class="title">Editar publicação</h6>
            </div>

            <div class="modal-body">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h6 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#desativar" aria-expanded="true" aria-controls="desativar">
                                    Deseja editar essa publicação
                                    <svg class="olymp-dropdown-arrow-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                </a>
                            </h6>
                        </div>

                        <div id="desativar" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            @using (Html.BeginForm("Index", "LandingPage", FormMethod.Post, htmlAttributes: new { }))
                            {
                                <input id="PublicacaoId1" name="PublicacaoId" hidden />
                                <div class="form-group label-floating is-empty">
                                    <br />
                                    <input id="Descricao" name="Descricao" />
                                </div>
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                    <button class="btn btn-primary btn-lg" type="submit" name="botao" id="botao" value="Editar">Editar</button>
                                    <button class="btn btn-bg-secondary btn-lg" type="submit" name="botao" id="botao" value="Excluir">Excluir</button>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="denunciar-post" tabindex="-1" role="dialog" aria-labelledby="denunciar-post" aria-hidden="true">
    <div class="modal-dialog window-popup batata" role="document">
        <div class="modal-content" style="margin-left:25%; margin-right:25%; margin-top:5%;">">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
            </a>

            <div class="modal-header">
                <h6 class="title">Denunciar publicação</h6>
            </div>

            <div class="modal-body" >
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h6 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#desativar" aria-expanded="true" aria-controls="desativar">
                                    Porque deseja denunciar essa publicação?
                                    <svg class="olymp-dropdown-arrow-icon"><use xlink:href="~/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                </a>
                            </h6>
                        </div>

                        <div id="desativar" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            @using (Html.BeginForm("Index", "LandingPage", FormMethod.Post, htmlAttributes: new { }))
                            {
                                <input id="PublicacaoId2" name="PublicacaoId" hidden />
                                <div class="form-group label-floating is-empty">
                                    <br />
                                    <textarea rows="4" id="motivo" name="motivo" cols="100" placeholder="Motivo do denúncia"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-3">
                                    </div>
                                    <div class="col col-lg-6 col-md-6 col-sm-6 col-6">
                                        <button class="btn btn-primary btn-lg full-width" value="Denunciar" id="botao" name="botao" type="submit">Denúnciar</button>
                                    </div>
                                    <div class="col col-lg-3 col-md-3 col-sm-3 col-3">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    const ShowId = (id, id2) => {
        document.getElementById(id).value = id2;
    }
    const CarregaTexto = (id, id2) => {
        document.getElementById(id).value = id2;
    }
</script>